.services {
  min-height: auto;
  padding-bottom: 10rem;
}

.services h2 {
  margin-bottom: 5rem;
}

.show{
  animation: show 2s .5s ease-in-out;
}

@keyframes show {
  0%  {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content {
  display: grid;
  height: 300px;
  grid-template-columns: 1fr 1fr 1fr;
}

.item {
  position: relative;
}

.title {
  display: inline-block;
  font-size: 1.5em;
  text-align: center;
  width: 25%;
}

.outer {
  display: inline-block;
  width : 260px;
  height : 10px;
  border : solid 1px rgb(181, 178, 178);
  border-radius: 10px;
  position: absolute;
  right: 30px;
  top : 5px;
}
.inner {
  background-color: var(--main-color);
  /* width : 30%; */
  height : 10px;
  border-radius: 10px;
}